{% include "header.html" %}
<body>
<div class="row">
	<h1 style="text-align: center;">Index</h1>
</div>

<div class="container">
   <div class="row">
   	<div class="col-md-2"></div>
   	<div class="col-md-8">

	<form action="http://159.203.58.233:5000/login" method="post" name="login">
	<label for="email">Email address:</label>	
	  <input type="username" name="email" placeholder="Username">
	  <br/>
	  <label for="passwod">Password:</label>
	  <input type="password" name="password" placeholder="Password">
	  <br/>
	  <input type="submit" value="submit">
	</form>
	</div> <!-- col-md-8 -->
	<div class="col-md-2"></div>
   </div>
</div>
<a href="/logout"></a>
</body>
</html>